
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <button id="login">
            Login
        </button>
    </div>
    <div>
        <form id = "form" style="display: none">
            <input id = "user" type="text" placeholder="Enter your username"/>
            <input id = "pass" type = "password" placeholder="Enter your password"/>
            <button id="submit">Submit</button>
        </form>
    </div>

    <div>
        <button id="show">Show</button>
    </div>
    <div>
        <button id="history">history</button>
    </div>

    <div>
        <button id="signup">SignUp</button>
        <form id = "signup_form" style="display: none;">
            <input id = "signup_username" type="text" placeholder="Enter username"/>
            <input id = "signup_email" type="email" placeholder="Enter Email"/>
            <input id = "signup_password" type = "password" placeholder="Enter password"/>
            <button id="singup_submit">Submit</button>
        </form>
    </div>

    <p id="current" style="display: none;">This is showing table</p>
    <script src="../static/script.js"></script>
</body>
</html>
